<p>
</p>
<div class="jumbotron">
  <h1>Learn More</h1>
  <h5>
    1. The first constitution of the united states was named, "The Articles of Confederation".
    It was rattified on March 1, 1781 and created a weak central government, leaving most of the power
    with the state governments.
  </h5>
  <h5>
    2. The laws in the United States are made by congress. Before a bill becomes a law it must pass both houses of Congress and must be signed into law by the President.
  </h5>
  <h5>
    3. The bill of rights was is made up of the first 10 amendments and was written by James Madison. The House approved 17 amendments. Of these, the Senate approved 12, which were sent to the states for approval in August 1789. Ten amendments were approved (or ratified).
  </h5>
  <h5>
    4. To win the election, a candidate must receive a majority of electoral votes. In the event no candidate receives a majority, the House of Representatives chooses the president and the Senate chooses the vice president.
  </h5>
  <h5>
    5. The United States has had two constitution. The first being the Articles of Confederation and the second being the current Constitution.
  </h5>
  <h5>
    6. The United States Congress makes laws that influence our daily lives. It holds hearings to inform the legislative process, conducts investigations to oversee the executive branch, and serves as the voice of the people and the states in the federal government.
  </h5>
  <h5>
    7. There are three branches of government; Executive branch, Legislative branch, and Judicial branch. The Executive branch is made up of the President, Vice President, and Cabinets. The Legislative branch is made up of Congress, Senate, and the House of Representatives. Lastly, the Judicial branch is made up of the Supreme Court and other Federal Courts.
  </h5>
  <h5>
    8. American Indians, also known as Native Americans, were the only minority group mentioned in the United States Constitution.
  </h5>
  <h5>
    9. The main purpose of the constitution is to establish the basic rights of all American citizens. The U.S. Constitution is the supreme law of the nation.
  </h5>
  <h5>
    10. The first three articles of the Constitution establish three branches of government with specific powers: Executive (headed by the President), Legislative (Congress) and Judicial (Supreme Court). Power is separated and shared.
  </h5>
  <p></p><p></p>
  <p style="padding-top: 2cm">
    To learn more you can and gain better insight to the processes,
    fundamental laws, and guaranteed basic rights for citizens please take
    a look at the United States Constitution at:
  </p>
  <a href="https://www.archives.gov/founding-docs/constitution-transcript">The Constitution of The United States</a>

  <div id="share-buttons">
    <a href="http://www.facebook.com/sharer.php?u=https://polquiz.netlify.com" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="https://twitter.com/share?url=https://polquiz.netlify.com&amp;text=Simple%20Share%20Buttons&amp;" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
    <a href="mailto:?Subject=Political_Quiz Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://polquiz.netlify.com">
      <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
  </div>
</div>
