.main {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}
a {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
h5 {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}
